*{
    box-sizing: border-box;
}
body{
    background-color: lightblue;
}

@media screen and (max-width: 500px){
    /*any screen resolution from 0-500px wide*/
    body {
        background-color: lightcoral;
        font-size: 130%;
        color: crimson;
    }
}
@media screen and (max-width: 400px){
    body {
        background-color: lightgoldenrodyellow;
    }
}